.load {
  position: fixed;
  left: 45%;
  top: 45%;
}

.loading {
  border: 16px solid #000000; /* Light grey */
  border-top: 16px solid #6D2080;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 700px) {
  .load {
    position: fixed;
    left: 30%;
    top: 40%;
  }
  .loading {
    width: 100px;
    height: 100px;
  }
}